.flags
{
width: 300px;
height: 200px;
display: flex;
flex-direction: column;
}
.stripe
{
flex-grow: 1;
}
.black
{
background-color: black;
}
.white
{
background-color: white;
}
.green
{
background-color: green;
}
.triangle {
  background: auto;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid red;
  position: relative;
  top: -100px;
  
}