.flag {
    width: 300px;
    height: 200px; 
    display: flex; 
    flex-direction: column; 
    border: 1px solid black;
}

.stripe {
    flex-grow: 1; 
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}