*{
    text-align: center;
    /* background-color: aqua; */
    margin: 0px;
    padding: 5px;
    border-radius: 25px;
    flex: auto;

}
header nav ul li a {
    /* text-align: center; */
    justify-content: center;
    display: center;
}